%h1= @title
= form_for(@scoring_format) do |f|
 = render 'shared/error_messages', :object => f.object
 %fieldset
  %legend
   Passing
  = render 'passing_fields', :f => f
 %fieldset
  %legend
   Rushing
  = render 'rushing_fields', :f => f
 %fieldset
  %legend
   Receiving
  = render 'receiving_fields', :f => f
 %fieldset
  %legend
   Miscellaneous
  = render 'miscellaneous_fields', :f => f
 %fieldset
  %legend
   Kicking
  = render 'kicking_fields', :f => f
 %fieldset
  %legend
   Defense
  = render 'defense_fields', :f => f
 %fieldset
  %legend
   Defensive Player
  = render 'idp_fields', :f => f   
 %div.actions= f.submit "Create your scoring format"
