!!!
%html
 %head
  %title= title
  = csrf_meta_tag
  = render 'layouts/stylesheets'
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
 %body.detail
  %div.detail_container
   = yield
